<!-- HERO -->
<article class="grid grid-cols-2 w-full bg-linear-to-b from-gray-500 to-gray-300 gap-8 px-60 pt-30 pb-10">
  <section class="flex justify-center">
    <img
      class="max-w-full w-sm h-auto rounded-2xl border-4 border-amber-200 rotate-4 hover:rotate-0 transition duration-500 ease-out"
      src="img/Foto-profesional.webp"
      alt="Fernando, Corto de Mirass"
    />
  </section>

  <header class="flex flex-col justify-center">
    <h2 class="text-9xl font-bold font-sans">Fernando González</h2>
    <span class="text-xl font-mono">Frontend Developer + SEO/CRO mindset -Revisar-</span>
  </header>
  <section class="col-span-2">
    <div class="grid grid-cols-2 ">

      <main class="flex justify-center">
        <div class="w-75">
          <p class="font-serif text-lg text-center">"Desarrolo aplicaciones web que funcionan, pensadas para convertir."</p>
        </div>
      </main>
      
      <footer class="flex gap-6 mt-3">
        <a
        class="bg-neutral-500 py-2 px-1.5 rounded-lg border border-amber-200 hover:bg-red-950 transition"
        href="#">Descargar CV</a
        >
        <a
        class="bg-neutral-500 py-2 px-1.5 rounded-lg border border-amber-200 hover:bg-red-950 transition"
        href="#">Contactar</a
        >
      <a
        class="bg-neutral-500 py-2 px-1.5 rounded-lg border border-amber-200 hover:bg-red-950 transition"
        href="#">Conocerme más</a
        >
      </footer>
    </div>
  </section>
</article>
